.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}
.container-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
}
.primary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  gap: 1rem;
  @include devices(mobile) {
    flex: 0 0 100%;
    width: auto;
  }
}
.secondary-container {
  display: flex;
  flex-direction: column;
  background-color: #{$secondary-color};
  min-height: 60vh;
  width: 100%;
  gap: 1rem;
  @include devices(mobile) {
    width: auto;
  }
}
.children {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.display-gap {
  display: flex;
  gap: 1rem;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 1rem;
  justify-content: center;
}
.container-empty {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #{$secondary-color};
  color: #{$secondary-text};
  flex: 1;
  min-width: 200px;
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.5rem;
  .fa-left-long {
    @include devices(mobile) {
      transform: rotate(90deg);
    }
  }
}
#error-page {
  text-align: center;
}
.section-container {
  background-color: #{$secondary-color2};
  padding: 1rem;
  div {
    &:nth-child(even) {
      background-color: #{$secondary-color};
      color: #{$secondary-text};
      border-radius: 0.5rem;
    }
  }
}
