$danger: #f93131;
$success: #320064;

// #b33951
// #e3d081
// #91C7b1
$primary-color: #b33951;
$primary-color2: #e3d081;
$primary-color3: #91c7b1;

// #54494b
// #f1f7ed
$secondary-color: #54494b;
$secondary-color2: #f1f7ed;

// text color
$primary-text: #333;
$secondary-text: #eee;

// popular icons
$instagram: #ea4c52;
$twitter: #1da1f2;

// shadow blends
$shadow-color: #eee;
$shadow-color2: purple;
$shadow-color3: #ddd;

/* readmore lines */
$max-lines: 2;
$line-height: 1.4;

/*  media queries */
$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 480px)";
$tablet: 680px;
$mobile: 500px;
$mini: 375px;

// radii
$b-radi: 0.5rem;
$b-full: 100%;
