#root {
  max-width: 1200px;
  margin: auto;
}

.testimonial-form {
  display: flex;
  flex-direction: row;
}
.testimonial-form-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.meet-the-team .card-hero-header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
